html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: auto;
  padding: 0 20px;
  font-family: 'Noto Sans', sans;
}

.title {
  text-align: center;
}

.prompt {
  text-align: center;
  font-size: 20px;
}

ul {
  text-align: center;
  list-style: inside;
}

.room_number{
  margin: 10px ;
}

.incoming {
  float: left;
  /* background: #efefef none repeat scroll 0 0; */
  color: #001bb3;
  font-size: 14px;
  /* padding: 5px 10px 5px 10px; */
  margin: 0 10px ;
  width: 100%;
}

.outgoing {
  float: left;
  /* background: #c9c9c9 none repeat scroll 0 0; */
  color: #363636;
  font-size: 14px;
  /* padding: 5px 10px 5px 10px; */
  margin: 0 10px ;
  width: 100%;
}

.message_input {
  width: 80%;
  padding: 5px;
  border:1px solid #ddd;
  margin: 5px;
}

.message_button {
  border: 1px solid #ddd;
  outline: none;
  padding: 5px 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* (A) SET CONTAINER TO GRID */
#grid-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 3 COL LAYOUT */
  /* WE CAN ALSO SPECIFY EXACT PX OR %
  grid-template-columns: 200px 250px 150px;
  grid-template-columns: 20% 40% 40%;
  */
  /* THE EASIER WAY TO MASS REPEAT MANY COLUMNS
  grid-template-columns: repeat(4, 250px);
  grid-template-columns: repeat(4, auto);
  */
}


div.cell {
  background: #ffffff;
  border: 1px solid #bbb;
  padding: 10px;
  overflow: auto;
}

/* (C) RESPONSIVE SUPPORT */
/* 2 COL LAYOUT ON TABLET */
@media screen and (max-width: 1000px) {
  #grid-col {
    grid-template-columns: auto auto;
  }
}

/* 1 COL LAYOUT ON MOBILE */
@media screen and (max-width: 600px) {
  #grid-col {
    grid-template-columns: 100%;
  }
}
