html, body {
  height: 100%;
}

/* body {
  margin: 0;
  text-align: center;
  background: #FFFFFF;
} */
body {
  margin: 0 auto;
  max-width: auto;
  padding: 0 20px;
  font-family: 'Noto Sans', sans;
}

.title {
  text-align: center;
}

.prompt {
  text-align: center;
}

.prompt {
  font-size: 20px;
}

.incoming {
  float: left;
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0;
  width: 50%;
}

.outgoing {
  float: right;
  background: #c9c9c9 none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin: 10px 0;
  width: 100%;
  width: 50%;
}

.message-form {
  float: left;
  height: 10%;
  width: 100%;
}

.message_button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.column {
  float: left;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* (A) SET CONTAINER TO GRID */
#grid-col {
  display: grid;
  grid-template-columns: auto auto auto;
  /* 3 COL LAYOUT */
  /* WE CAN ALSO SPECIFY EXACT PX OR %
  grid-template-columns: 200px 250px 150px;
  grid-template-columns: 20% 40% 40%;
  */
  /* THE EASIER WAY TO MASS REPEAT MANY COLUMNS
  grid-template-columns: repeat(4, 250px);
  grid-template-columns: repeat(4, auto);
  */
}

/* (B) STYLE EACH GRID CELL */
div.cell {
  background: #ffffff;
  border: 1px solid #aaa;
  padding: 10px;
}

/* (C) RESPONSIVE SUPPORT */
/* 2 COL LAYOUT ON TABLET */
@media screen and (max-width: 1000px) {
  #grid-col {
    grid-template-columns: auto auto;
  }
}

/* 1 COL LAYOUT ON MOBILE */
@media screen and (max-width: 600px) {
  #grid-col {
    grid-template-columns: 100%;
  }
}
